<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<property name="DEV_HOME" value="/tmp/log" />
	<property name="FILE_NAME" value="log" />
	<appender name="FILE-THREAD"
		class="ch.qos.logback.classic.sift.SiftingAppender">

		<discriminator>
			<key>logZipName</key>
			<defaultValue>log_zip</defaultValue>
		</discriminator>
		<sift>
			<appender name="STDOUT"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>${DEV_HOME}/${FILE_NAME}.log</file>
			    <encoder>
			      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %level %logger{35} - %msg%n</pattern>
			    </encoder>
				<rollingPolicy
					class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
					<FileNamePattern>${DEV_HOME}/${logZipName}/${FILE_NAME}.%i.log.zip
					</FileNamePattern>
					<MinIndex>1</MinIndex>
					<MaxIndex>10</MaxIndex>
				</rollingPolicy>

				<triggeringPolicy
					class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<MaxFileSize>10MB</MaxFileSize>
				</triggeringPolicy>
			</appender>
		</sift>
	</appender>
    <!-- level TRACE -> DUBUG -> INFO -> WARN -> ERROR  -->
	<root level="error">
		<appender-ref ref="FILE-THREAD" />
	</root>

</configuration>